@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
#contacto, #inicio{
    background-image: url("../images/fondo-contacto.png");
    background-size: cover;
}
#proyectos{
    background-image: url("../images/fondo-proyectos.png");
    background-size: cover;
}
nav .nav-link{
    color: #282828;
}
nav .active{
    border: 1px solid #E20000;
    border-radius: 25px;
}
.form-control{
    border-radius: 14px;
}
h1{
    color: #E20000;
}
p{
    color: #6a6a6a;
    font-size: 16px;
}
textarea{
    height: 150px;
}
.link-rojo{
    text-decoration: none;
    color: #ff4a49;
}   
.btn{
    color: #370a6d;
    background-color: white;
    border: 0px;
    border-radius: 15px;
}
.btn:hover{
    color:white;
    background-color: #370a6d;
}
.btn-rojo{
    background-color: #E20000;
    color: white !important;
    font-weight: 100;
    padding:  10px;
    border: 0px;
    text-decoration: none ;
    border-radius: 15px;
}
.btn-rojo:hover{
    color: white;
    background-color: #370a6d;
}
.btn-Whatsapp{
    position: fixed;
    right: 70px;
    bottom: 0px;
    background-color: #370a6d;
    padding:  8px 18px 15px 18px ;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
}
.fa-whatsapp{
    font-size: 32px;
    color: white;
}
.link-rojo{
    color: #ff4a49;
    text-decoration: none;
}
#contacto footer, #inicio footer{
    color:white;
}
#contacto footer a, #inicio footer a{
    color:white;
}
#contacto footer .fa-github, #inicio footer .fa-github {
    font-size: 30px;
    color: white;
}
#contacto footer .fa-linkedin-in, #inicio footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyectos footer{
    color:#ff4a49;
}
#proyectos footer a{
    color:#ff4a49;
}
#proyectos footer .fa-github {
    font-size: 30px;
    color: #ff4a49;
}
#proyectos footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.proyecto{
    background-color: white;
}
.proyecto h2{
    font-size: 16px;
    text-transform: uppercase;
    color:white;
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    padding: 16px;
}
.proyecto img{
    height: 212px;
}
.proyecto p{
    font-size: 14px;
    height: 130px;
}
#inicio img{
    height: 400px;
}
#inicio img:hover{
    height: 410px;
}
.cohete{
    height: 410px;
}
#inicio p{
    color: white;
    font-size: 17px;
    border: 1px white solid;
    border-radius: 15px;
    font-weight: 600;
}
.foto-perfil{
    border-radius: 600px;
    height: 300px;
}
.img-circle{
    border-radius: 50%;
}
#sobre-mi h2{
    color: #ffffff;
    font-size: 25px;
}
#sobre-mi .card{
    height: 190px;
}
#stack-tecnologico img{
    height: 60px;
}
#stack-tecnologico h2 {
    font-size: 24px;
    color: white;
}
#stack-tecnologico h3 {
    font-size: 14px;
    color: black;
    font-weight: 300;
}
#experiencia h2{
    color: #370a6d;
}
#formacion h2{
    color: #E20000;
}
#experiencia h3{
    color: #6a6a6a;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
#experiencia h4{
    font-size: 18px;
    color: #370a6d;
    font-weight: 400;
}
#experiencia h5{
    font-size: 16px;
    color: #6a6a6a;
}
#formacion h3{
    font-size: 18px;
    color: #6a6a6a;
    font-weight: 600;
}
#formacion h4{
    color: #E20000;
    font-size: 16px;
}
#formacion h5{
    font-size: 14px;
    color: #6a6a6a;
}
.baw{
    filter: grayscale(100%);
}
.baw:hover{
    filter: grayscale(0%);
}
#idiomas{
    background-color: #efefef;
}
#idiomas .card{
    background-color: #370a6d;
    padding: 40px 0;
    border-radius: 15px;
}
#idiomas h2{
    color: #000000;
    text-transform: uppercase;
}
#idiomas ul{
    padding: 0;
    font-size: 15px;
    color: #6a6a6a;
    list-style-type: none;
}
#idiomas .fas{
    font-size: 85px;
    color: #ffffff;
}
#sobre-mi footer a{
    color: #E20000;
    font-size: 18px;
}
#sobre-mi footer{
    color: #6a6a6a;
}
.color-gradiente{
    background: rgba(184,37,20,1);
    background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
    background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}
@media (max-width: 750px) {
    #contacto, #inicio {
        background-image: url("../images/fondo-proyectos.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #proyectos {
        background-size: contain;
        background-repeat: no-repeat;
    }
    #inicio span {
        color: #E20000;
        font-size: 16px;
        border: 1px #E20000 solid;
    }
}